<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ApiTestcases">
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.eva.api.testscripts.ApiTestcases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
